.articles-container {
    display: flex;
    gap: 1rem;
    margin-block: 2rem;
}

.articles-container.list-type {
    flex-direction: column;
    margin-inline: auto;
}

.articles-container.grid-type {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}