
.header {
    display: flex;
    flex-direction: row;
    padding: 1rem 1.5rem;
    align-items: center;
    width: 100%;
    min-height: 5rem;
    height: fit-content;
    background-color: var(--clr-dark);
    gap: 0.5rem;
}

@media (max-width: 31.25rem) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }
}

.header__logo-container {
    display: flex;
    flex-direction: row;
    color: var(--clr-accent);
    align-items: center;
    height: fit-content;
}

.header__logo {
    font-size: var(--fs-900);
    color: var(--clr-accent);
    font-weight: 700;
    font-family: var(--font-accent);
}

.header__open-side-menu-icon {
    background: transparent;
    border: none;
    color: var(--clr-accent);
    font-size: var(--fs-700);
    margin-right: 2rem;
}

.header__actions-container {
    height: fit-content;
    display: flex;
    align-items: stretch;
    margin-left: auto;
    gap: 1rem;
    margin-left: auto;
}

@media (max-width: 31.25rem) {
    .header__actions-container {
        margin: auto;
    }
}

.header__open-conclusions-button {
    color: var(--clr-accent);
    background-color: var(--clr-very-dark);
    font-size: var(--fs-200);
    border: none;
    padding: 0.5rem 1rem;
}

.header__switch-language {
    color: var(--clr-accent);
    background-color: var(--clr-very-dark);
    font-size: var(--fs-200);
    border: none;
    padding: 0.5rem 1rem;
}