.side-menu {
    min-width: fit-content;
    width: 20%;
    background-color: var(--clr-very-dark);
    position: relative;
    padding: 1rem;
}

.side-menu__side-menu-close-cross {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: transparent;
    border: none;
    font-size: var(--fs-500);
    color: var(--clr-accent);
}

.side-menu__countries-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.country {
    text-decoration: none;
    background: transparent;
    border: none;
    color: var(--clr-light);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.3rem;
    border-radius: 0.1rem;
}

.country span {
    text-align: left;
}

.active {
    background-color: var(--clr-dark);
    color: var(--clr-accent);
}