.main-content {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    background-color: var(--clr-light);
    width: 100%;
  }

.main-content__articles-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}